<div class="card" >
  <h1 id="serv">Serviços </h1>
  <div class="card__content">
    <div class="btnser">
      <img style="width: 80px;" src="https://static.vecteezy.com/system/resources/thumbnails/019/045/381/small_2x/increasing-stocks-icon-growing-graph-bar-chart-png.png" alt="">
      <label style="font-size: 15px;">Analiso dados com o objetivo de descobrir informações úteis e apoiar a tomada de decisões.</label>
    </div>
    <div class="btnser">
      <img style="width: 80px;" src="https://cdn-icons-png.flaticon.com/512/6567/6567206.png" alt="">
      <label style="font-size: 15px;">Desenvolvo sites profissionais, blogs, Api's, portfólios e landing pages.</label>
    </div>

    <div class="btnser">
      <img style="width: 80px;" src="https://cdn-icons-png.flaticon.com/128/9935/9935675.png" alt="">
      <label style="font-size: 15px;">Trabalho com aplicações envolvendo a linguagem Python e crio softwares para automatizar tarefas.</label>
    </div>

  </div>
</div>


<div class="card-hab" >
  <h1>Habilidades</h1>
  <div class="card__content-hab">

    <div class="btnser">
      <img style="width: 80px;" src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="">
      <label style="font-size: 16px;">JAVASCRIPT</label>
    </div>

    <div class="btnser">
      <img style="width: 80px;" src="https://cdn-icons-png.flaticon.com/512/1197/1197396.png" alt="">
      <label style="font-size: 16px;">HTML</label>
    </div>

    <div class="btnser">
      <img style="width: 80px;" src="https://static-00.iconduck.com/assets.00/file-type-angular-icon-1907x2048-tobdkjt1.png" alt="">
      <label style="font-size: 16px;">ANGULAR</label>
    </div>

    <div class="btnser">
      <img style="width: 80px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" alt="">
      <label style="font-size: 16px;">REACT</label>
    </div>


    <div class="btnser">
      <img style="width: 80px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" alt="">
      <label style="font-size: 16px;">PYTHON</label>
    </div>

    <div class="btnser">
      <img style="width: 80px;" src="https://cdn-icons-png.flaticon.com/512/919/919832.png" alt="">
      <label style="font-size: 16px;">TYPESCRIPT</label>
    </div>
    <div class="btnser">
      <img style="width: 80px;" src="https://cdn.icon-icons.com/icons2/1156/PNG/512/1486565573-microsoft-office_81557.png" alt="">
      <label style="font-size: 16px;">Office</label>
    </div>




  </div>
</div>

