<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Portfolio</title>
  </head>
  <body>
<div id="back-fdn">


    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <button class="btntool" (click)="scrolla()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
          <span>Inicio</span>
        </button>
        <button class="btntool" (click)="scrollb()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
          <span>Projetos</span>
        </button>
        <button class="btntool" (click)="scrollc()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
          <span>contatos</span>
        </button>
        <button class="btntool" (click)="scrolld()" >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
          <span>Serviços</span>
        </button>
        <button class="btntool" (click)="scrolld()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
          <span>Habilidades</span>
        </button>
      </div>



    </mat-toolbar>






  <br>
  <br>


    <div  id="conteinerinfo" class="desac-info">
      <label id="lbl-nome">Olá! Eu me chamo</label>
      <h1 id="h1-nome">"Jefferson Patrocinio Vieira"</h1>
      <p id="txt-dev">Desenvolvedor de Software</p>
      <h1 id="h1-pj">Projetos</h1>
    </div>



      <div id="card-proj-py" class="card-proj-py">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

            <mat-card-subtitle style="font-size: 2rem; margin-top: 2rem; ">DEV</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/01/07093212/PYTHON.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <br>
            <p id="para-card">
              O projeto de automação em Python proposto tem como objetivo simplificar o trabalho de cadastro de matérias no sistema do Ministério da Educação (MEC) ao longo de seus cursos. Esta solução automatizada oferece inúmeros benefícios, incluindo economia de tempo e minimização de erros no registro
            </p>
          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
        </mat-card>
      </div>


      <br>
      <br>

      <div id="card-proj-ins">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

            <mat-card-subtitle style="font-size: 2rem; margin-top: 2rem;">DEV</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://www.hardware.com.br/wp-content/uploads/static/wp/2022/07/14/Instagram-logo.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p id="para-card">
                projeto de front-end recria a experiência do Instagram, uma das redes sociais mais populares, com um toque especial: uma página inicial com modo dark.
            </p>
          </mat-card-content>
        </mat-card>
      </div>


      <br>
      <br>
      <div id="card-proj" class="card-proj-proj">
        <mat-card class="example-card" >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>

            <mat-card-subtitle style="font-size: 2rem; margin-top: 2rem;">DEV</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://www.capitaldoentorno.com.br/wp-content/uploads/2020/08/Irrigacao-automatizada-2-FreePik.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p id="para-card" >
              Este projeto visa criar um sistema de irrigação automatizada para hortas domésticas, controlado através de um aplicativo de celular. Ele permite que os usuários monitorem e controlem a irrigação de suas plantas de forma conveniente e eficiente
            </p>
          </mat-card-content>
        </mat-card>
      </div>



  <app-cont-component ></app-cont-component>
  <app-servicos></app-servicos>







</div>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
